name: Cache Nix Store

on:
  push:
    branches: [ "main" ]

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30

      - name: Cache Nix Store
        uses: actions/cache@v3
        with:
          path: /nix/store
          key: ${{ runner.os }}-nix-store-${{ hashFiles('flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nix-store-